#canvas{
	padding: 0;
	margin: 0;
	border: 0;

}
body, html{
	text-align: center;
	padding: 0;
	margin: 0;
	height: 100%;
	border: 0;
	overflow: hidden;
}
#loadimg{
	display: none;
}


#onlinetab{
	position: fixed;
	top:0;
	right:0;
	background: #82b1ff;
	border-radius: 10px;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	margin: 10px;
	padding-top: 2%;
	z-index: 10;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#settings{
	position: fixed;
	top:0;
	left:0;
	width: 10%;
	text-align: center;
	background: #82b1ff;
	color: #fff;
	border-radius: 10px;
	padding-bottom: 15px;
	margin: 10px;
}

#settings *{
	margin: 2px;
}
#settings input{ margin: 0px; }

#chat{
	position: fixed;
	bottom:0;
	left:0;
	background: #82b1ff;
	border-radius: 10px;
	margin: 10px;
	height: 40%;
	width:13%;
	overflow-y:scroll;
	overflow-x:hidden;
	color: white;
	padding-bottom: 1%;
	z-index: 10;
}

#fchat{
position: fixed;
background: #fff;
border: 0;
bottom:2px;
left:0;
height: 3%;
width:13%;
margin: 10px;
border-radius: 10px;
z-index: 11;
}

input[type=checkbox]{
  -webkit-appearance:checkbox;
}

input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

p,h2{font-family: 'Roboto', sans-serif;}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 28px;
  width: 19px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 28px;
  width: 19px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 28px;
  width: 19px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

#onltext{
	position: fixed;
	top: 3%;
	right:4%;
	color: #fff;
	margin: 0;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	z-index: 11;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#icons8{
	right:0;
	position: fixed;
	bottom:0;
}
#instruments img{
	height:24px;
}
.cursor{
	position: fixed;
	z-index: 10;
	padding:0;
	margin:0;
	z-index: 13;
}
.cursor p{
	font-size:10px;
}
.cursor img{
	height: 24px;
}
.cursor *{
	padding:0;
	margin:0;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#settings *{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#setup{
	position: fixed;
	margin-top: 10%;
	margin-left: 30%;
	padding: 3%;
	top:0;
	left:0;
	background: #82b1ff;
	border-radius: 10px;
	z-index: 12;
	color: #fff;
}
button{
	border: 0;
	border-radius:10px;
	background: #4d82cb;
	color: #fff;
	padding: 5px;
}
body,html{ touch-action: none; }

.close{
	display: none;
	visibility: hidden;
	
}
#color{
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	width: 100%;
	border: 0;
}
#styfcolor{
	border-radius: 16px;
	height: 32px;
	width: 32px;
	display: inline-block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0px !important;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px !important;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input[type=text]{
	border:0;
	border-radius: 10px;
}
/*
#othSetup{
	padding-top: 10%;
	position: fixed;
	right: 0;
	top: 0;
	padding-right: 5%;
}*/

@media only screen and (max-device-width : 640px) {
#selectedinstrument{
	height: 32px;
}
#setup{
	top: 0 !important;
	left: 0 !important;
	margin:0;
	height: 99%;
	width: 99%;
	margin: 1px;
	text-align:left;
}
#setup *{
	margin:1px;
}
#chat{
	left: 84% !important;
}
#onlinetab *{
	margin: 0px;
	font-size: 10px;
}
#onlinetab{
	background: transparent;
	color: #000;
	padding: 0 !important;
}
#onltext{ display: none;}
#settings{ 
margin: 0;
}
#fchat{
	left: 84% !important;
}
}